:root{
    --main-color:#261E50;
    --nabbar-text-color:#b7b7b7;
    --white-color:#ffffff;
    --box-shadow-color:#c6c5c5;
    --button-color:#bab3f1;
    --button-hover-color:#6956c4;
    --footer-color:#212529;
}